@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: 'IM Fell DW Pica', serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
